@font-face {
    font-family: "Segoe UI Web Light";
    font-style: normal;
    font-weight: 100;
    src: local("Segoe UI Light"), local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: "Segoe UI Web Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}
@font-face {
    font-family: "Segoe UI Web Semibold";
    font-style: normal;
    font-weight: bold;
    src: local("Segoe UI Semibold"), local("Segoe UI Bold"), local("Segoe UI"), local("Helvetica Neue");
    unicode-range: U+0000-00FF;
}

body 
{
    width:475px;
    height:490px;
    font-family:"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
    margin:0;
    padding:0;
    overflow:hidden;
    border:none;
    color:#454545;
}

.ja-jp, .ja-jp h1, .ja-jp h2, .ja-jp p,
.ja-jp a, .ja-jp a:hover, .ja-jp a:visited
{
    font-family:"Meiryo UI",Meiryo,"MS PGothic",Osaka,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.km-kh, .km-kh h1, .km-kh h2, .km-kh p,
.km-kh a .km-kh a:hover, .km-kh a:visited
{
    font-family:"Khmer UI","Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.ko-kr, .ko-kr h1, .ko-kr h2, .ko-kr p,
.ko-kr a, .ko-kr a:hover, .ko-kr a:visited
{
    font-family:"Malgun Gothic",Gulim,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.zh-cn, .zh-cn h1, .zh-cn h2, .zh-cn p,
.zh-hans, .zh-hans h1, .zh-hans h2, .zh-hans p, 
.zh-cn a, .zh-cn a:hover, .zh-cn a:visited 
{
    font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}

.zh-hant, .zh-hant h1, .zh-hant h2, .zh-hant p,
.zh-hk, .zh-hk h1, .zh-hk h2, .zh-hk p,
.zh-mo, .zh-mo h1, .zh-mo h2, .zh-mo p,
.zh-sg, .zh-sg h1, .zh-sg h2, .zh-sg p,
.zh-tw, .zh-tw h1, .zh-tw h2, .zh-tw p,
.zh-hant a, .zh-hant a:hover, .zh-hant a:visited,
.zh-mo a, .zh-mo a:hover, .zh-mo a:visited,
.zh-sg a, .zh-sg a:hover, .zh-sg a:visited,
.zh-tw a, .zh-tw a:hover, .zh-tw a:visited
{
    font-family:"Microsoft JhengHei", Pmingliu,"Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
}



img {border:none;}
div.mboxDefault {visibility:hidden;}

a, a:hover, a:visited
{
    border: 1px #fff;
    background-color:#515151;
	color:#bad80a;
    text-decoration:none;
}

a:hover {
    opacity:0.76;
    filter:alpha(opacity=76);
}

a:active
 {
    opacity:1;
    filter:alpha(opacity=100);
    background-color:black;
    color:white;
}

h1
{
    font-weight:100;
    font-size:31px;
    line-height:29px;
    margin: 0px 0px 0px 0px;
    padding:0; 
}

.small h1
{
    font-size:26px;    
}

.smallest h1
{
    font-size:20px;
    line-height:20px;
}

h1.nosubheading
{
   padding:10px 0px 28px 0px;
}

p
{
    font-family:"Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
    font-weight:100;
    font-size:14px;
    line-height:16px;
    margin:12px 0px 18px 0px;
    padding:0; 
}

.logo-null{
	background-color:#FFF;
	width:475px;
	height:350px;
	}
.logo-ss{
	background-color:#FFF;
	width:475px;
	height:100px;
	}
.small p
 {
    font-size:12px;
    margin: 10px 0px 16px 0px;
}

a
{
    display: inline-block;
    font-family:"Segoe UI Web Semibold","Segoe UI Web Regular","Segoe UI","Helvetica Neue",Arial;
    font-size: 13px;
    font-weight: 100;
    line-height: 10px;
    padding: 6px 7px;
}

div.mboxDefault.throttle {visibility:visible;}
       
div#offer
{
    width:475px;
    height:490px;
    overflow:hidden;
}
div#offer img
{
    height:340px;
    width:475px;
    border:none;
    display:block;
}
div#offer div#text
{
    height:150px;
    width:413px;
    padding:15px 31px 25px 31px;
}

/*Brands*/
.skydrive, .Skydrive, .SkyDrive {background-color:#537001;}
.skydrive a, .skydrive a:hover, .skydrive a:visited,
.Skydrive a, .Skydrive a:hover, .Skydrive a:visited,
.SkyDrive a, .SkyDrive a:hover, .SkyDrive a:visited {color:#537001;}

.hotmail, .Hotmail {background-color:#F89A1E;}
.hotmail a, .hotmail a:hover, .hotmail a:visited,
.Hotmail a, .Hotmail a:hover, .Hotmail a:visited {color:#F89A1E;}

.newmail {background-color:#0072C6;}
.newmail a, .newmail a:hover, .newmail a:visited {color:#0072C6;}

.outlook, .Outlook {background-color:#0072C6;}
.outlook a, .outlook a:hover, .outlook a:visited,
.Outlook a, .Outlook a:hover, .Outlook a:visited {color:#0072C6;}


.account {background-color:#454545;}
.account a, .account a:hover, .account a:visited {color:white;}


.skydrive a:active,
.Skydrive a:active,
.SkyDrive a:active,
.hotmail a:active,
.Hotmail a:active,
.newmail a:active,
.outlook a:active,
.Outlook a:active,
.account a:active {
    opacity:1;
    filter:alpha(opacity=100);
    background-color:*#537001;/*black*/
    color:white;
}

